# Gradle 관련
.gradle/
build/

# IntelliJ IDEA 관련
.idea/
*.iml
*.ipr
*.iws

# OS 관련
.DS_Store
Thumbs.db
*.swp
*.swo

# Java 관련
*.class
*.jar
*.war
*.ear

# Maven 관련
target/

# 환경 변수 파일
*.env

# 로그 파일
logs/
*.log

# 테스트 결과물
**/target/surefire-reports/
**/target/failsafe-reports/

# 패키징 및 배포 파일
*.war
*.ear
*.zip
*.tar.gz

# Spring Boot 실행 시 생성되는 파일
*.pid
*.hprof

# Gradle Wrapper 관련
gradle-wrapper.jar
gradle-wrapper.properties

# JavaScript 관련
node_modules/
npm-debug.log

# 기타
*.log
*.class
*.swp
*.swo
src/main/resources/application.yaml
